#sidebar-container {
    display: block;
    position: fixed;
    /*overflow: auto;*/
    z-index:0;
    /*top: 25px;
    left: 0px;*/
    width: 280px;
    height: 100%;
    background-color: yellow;
    padding: 0px;
    margin: 0px;
    text-align:left;
    outline:none;
    white-space:normal;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently, supported by Chrome and Opera */    
    
}

#sidebar-left-container {
    font-weight: bold;
    display: block;
    overflow: unset;
    border: 1px;
    height: 100%;
    width: 55px;
    padding: 0px;
    /*padding-top: 20px;*/
    margin: 0px;
    background-color: rgb(36,52,78);
    float: left;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(17, 34, 48), rgb(32,46,72)) 1 100%; 
    border-width: 0px 3px 0px 0px;
}

#sidebar-right-container {
    height: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    background-color: rgb(32,46,72);
}

.sidebar-left-panel {
    text-align: center;
    line-height: normal;
    display: block;
    width: 100%;
    height: 35px;
    overflow: hidden;
    background-color: rgb(36,52,78);
    border: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(71,88,118);
    font-size: 10px;
    color: rgb(107, 128, 165);
    padding-top: 2px;
    /*border-color: #465b79;*/
    /*border-image: linear-gradient(to right, black, #324672) 1 100%; */
    /*padding: 5px 0px 5px 0px;*/
    
}

.sidebar-left-panel > img {
    width: 1.5em;
    height: 1.5em;
}

#sidebar-left-container-menue {
    text-align: center;
    line-height: normal;
    display: block;
    width: 100%;
    height: 26px;
    overflow: hidden;
    background-color: rgb(211, 76, 0);
    border: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(71,88,118);
    font-size: 10px;
    color: rgb(107, 128, 165);
    padding-top: 5px;
    padding-bottom: 0px;    
}
#sidebar-left-container-menue:hover {
    background-color: rgb(99, 38, 3);
}

#sidebar-left-container-menue > img {
    width: 1.5em;
    height: 1.5em;
}


.sidebar-left-panel:hover {
    background-color: rgb(23, 32, 48);
}

.sidebar-left-panel-selected {
    background-color: rgb(32,46,72);
    border-left-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-left-color: rgb(52, 167, 255);
    color: rgb(218, 216, 216);
}

.sidebar-right-panel {
    display: none;
    height: 100%;
    overflow: auto;

    /*width: 100%;*/
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
    background-color: rgb(32,46,72);
    float: none;
}

.sidebar-right-panel-selected {
    display: block;
}

.sidebar-right-panel-box {
    display: block;
    /*overflow-y: auto;*/
    padding: 0px;
    /*padding-right: 3px;*/
    text-indent: 15px;
    border-left-width: 0px;
    border-right-width: 0px;
    /*max-height: 40%;*/
}

.sidebar-right-panel-box-max {
    max-height: 30%;
    background-color: red;
    overflow-y: auto;
}

.sidebar-right-panel-box-closed {
    display: none;
}

.sidebar-right-panel-box-item {
    font-weight: bold;
    text-align: left;
    display: block;
    /*width: 100%;*/
    line-height: 18px;
    /*height: 30px;*/
    /*overflow: hidden;*/
    background-color: rgb(32,46,72);
    border: solid;
    border-width: 0px 0px 1px 0px;
    /*border-color: rgb(71,88,118);*/
    font-size: 13px;
    color: rgb(107, 128, 165);
    border-color: rgb(30, 43, 66);
    /*border-image: linear-gradient(to right, black, #324672) 1 100%; */
    padding: 5px 5px 5px 20px;
    margin: 0px 0px 0px 0px;
}

.sidebar-right-panel-box-item:hover {
    background-color: rgb(37, 55, 87);
}

.sidebar-right-panel-box-item-counter {
    background-color: rgb(221, 27, 37);
    color: rgb(199, 219, 253);
    font-size: 11px;
    text-align: center;
    text-indent: 0px;
    min-width: 1.7em;
    float: right;
    /*height: 1.5em;*/
    padding: 0px;
    margin: 0px 0px 0px 3px;
    border: none;
    border-radius: 100%;
}

.sidebar-right-panel-box-item-counter-c1 {
    background-color: rgb(255, 252, 49);
    color: rgb(56, 9, 48);
}

.sidebar-right-panel-box-item-counter-c2 {
    background-color: rgb(221, 27, 37);
    color: rgb(199, 219, 253);
}

.sidebar-right-panel-box-item-counter-c3 {
    background-color: rgb(27, 221, 37);
    color: rgb(34, 34, 34);
}

.arrow-up {
    width: 0px; 
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    border-bottom: 5px solid rgb(0, 8, 44);
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    float: left;
    text-align: center;
}

.arrow-left {
    width: 0px; 
    height: 0px; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid rgb(0, 8, 44);
    /*margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;*/
    display: block;
    float: left;
    text-align: center;
}

.arrow-right {
    width: 0px; 
    height: 0px; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid rgb(0, 8, 44);
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    float: left;
    text-align: center;
}

.arrow-down {
    width: 0px; 
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(0, 8, 44);
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    float: left;
    text-align: center;
}

.sidebar-right-panel-box-header {
    background-color: rgb(0, 164, 230);
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 25px;
    display: block;
    float: none;
    margin: 2px 0px 2px 0px;
    padding: 0px;
    text-indent: 0px;
    border-radius: 1px;
}
  
#content-container {
    margin-left: 280px;
}
